In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd_data = pd.read_csv("전국일방통행도로표준데이터.csv", encoding = 'cp949')
column_select = ['시도명', '지정사유', '지정연도', '도로폭', '도로차로수', '보차분리여부']
pd_data = pd_data[column_select]
pd_data

        시도명  지정사유  지정연도  도로폭  도로차로수 보차분리여부
0       경기도   NaN   NaN  5.0    1.0      Y
1       경기도   NaN   NaN  5.0    1.0      Y
2       경기도   NaN   NaN  9.0    1.0      Y
3       경기도   NaN   NaN  4.0    1.0      Y
4       경기도   NaN   NaN  4.0    1.0      Y
...     ...   ...   ...  ...    ...    ...
2154    경기도  통행원활   NaN  6.0    1.0      N
2155    경기도  통행원활   NaN  6.0    1.0      N
2156    경기도  통행원활   NaN  6.0    1.0      N
2157    경기도  통행원활   NaN  6.0    1.0      N
2158  서울특별시   NaN   NaN  9.5    1.0      N

[2159 rows x 6 columns]

In [10]:
pd_data.value_count

AttributeError: 'DataFrame' object has no attribute 'value_count'