* pd_iris 로부터, petal_length의 평균치를 구하고자 한다.

- petal_length의 결측치, 오류치, 이상치(1.5*IQR 바깥)의 갯수는 각 몇개인가.

- 결측치, 오류치, 이상치를 어떻게 처리할지 결정하고, (삭제, 다른 적절한 값으로 대체) 결정의 간단한 이유를 제시하시오.

- 결측치, 오류치, 이상치를 처리 하시오.

- petal_length의 평균치를 구하시오.

In [16]:
import numpy as np

import pandas as pd

import random


random.seed(123)

pd_iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

pd_iris.columns = ['petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'class']

rand_axis0 = [random.randint(0,150) for _ in range(5)]

rand_axis1 = [random.randint(0, 4) for _ in range(5)]

pd_iris.iloc[rand_axis0, rand_axis1] = np.NaN

 
    
rand_axis0 = [random.randint(0,150) for _ in range(5)]

rand_axis1 = [random.randint(0, 4) for _ in range(5)]

pd_iris.iloc[rand_axis0, rand_axis1] = 123.4 + random.randint(0,4)/10
 

df1 = pd.DataFrame(np.arange(100, 120).reshape(4,5), dtype='str')

petal_length = pd_iris["petal_length"]
 
petal_length

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: petal_length, Length: 149, dtype: float64

In [26]:
# df1의 row를 제거한 후, pd_iris와 합치기
pd_iris = pd.concat([pd_iris, df1.iloc[:-4]], axis=0, ignore_index=True)

# 중복된 index 제거하기
pd_iris = pd_iris.drop_duplicates()

pd_iris

,petal_length,petal_width,sepal_length,sepal_width,class,0,1,2,3,4
0,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
1,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
2,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
3,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
4,5.4,3.9,1.7,0.4,Iris-setosa,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
145,5.9,3.0,5.1,1.8,Iris-virginica,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,100,101,102,103,104
147,NaN,NaN,NaN,NaN,NaN,105,106,107,108,109
148,NaN,NaN,NaN,NaN,NaN,110,111,112,113,114
149,NaN,NaN,NaN,NaN,NaN,115,116,117,118,119